<!doctype html>
<html>
<head>
  <title>DATA VISE</title>
</head>
<body>
  <h1>DATA VISE</h1><br />
  <p>Voici une data visualisation des rank univérsitaire </p>

  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="scatter">
            </div>
        </div>
        <script src = "https://cdn.plot.ly/plotly-latest.min.js"> </script> 
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/d3/3.5 .6 / d3.min.js "> </script>
        <div class = "chart" id = "scatter"> 
            <script> 
                var graphs = {{plot | safe}}; 
                Plotly.plot ('scatter', graphs, {}); 
            </script> 
        </div>
    </div>
  </div>>
</body>
</html>
